
celery==5.5.1
crispy-bootstrap5==2023.10
Django==4.2.11
django-allauth==0.58.2
django-countries==7.5.1
django-crispy-forms==2.1
django-debug-toolbar==5.1.0
django-environ==0.10.0
django-phonenumber-field==6.4.0
django-widget-tweaks==1.5.0
phonenumbers==8.13.11
Pillow==9.5.0
#psycopg2-binary==2.9.9
python-dotenv==1.0.0
python-slugify==8.0.1
whitenoise==6.7.0
xhtml2pdf==0.2.16

